header {
	width: 100%;
	position: fixed;
	z-index: 999;
	background-color: rgb(102, 153, 153,0.8);
	padding-bottom: 25px;
}
.logo {
	width: 198px;
	float: left;
	margin-top: 27px;
	margin-left: 90px;
}
.navigation {
	float: right;
	display: inline-block;
	margin-right: 109px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #3D58A6;
	margin-top: 44px;
	padding-bottom: 20px;
}
.navigation-li {
	display: inline-block;
	padding-left: 16px;
	color: #EE4036;
}
.active {
	color: #EE4036
}
.clear {
	clear: both;
}
.container-1 {
	width: 100%;
	height: 675px;
	position: absolute;
	background-color: #E6E6E6;
	position: relative;
}
.banner {
	padding-top: 5%;
	position: absolute;
	width: 1340px;
	height: 580px;
	top: 7%;
	left: 6%;
	margin-top: 18px;
}
.text-face {
	position: absolute;
	color: #E6E6E6;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}
.text1 {
	top: 65%;
	left: 7.5%;
}
.text2 {
	top: 70%;
	left: 7.5%;
}
.text3 {
	top: 74.8%;
	left: 7.5%;
}
.text4 {
	top: 79.5%;
	left: 7.5%;
}
.logo2{
	position: absolute;
	widows: 100px;
	top: 86%;
    left: 85%;
}
.container2 {
	width: 100%;
	height: 510px;
	position: relative;
	background-color: #363E97;
}
.cont-text {
	font-size: 24px;
	position: absolute;
	color: #fff;
	top: 7%;
	left: 6%;
	font-family: 'Roboto', sans-serif;
}
.box-1 {
	width: 42%;
	height: 320px;
	background-color: #F2F2F2;
	top: 19%;
	left: 6%;
	position: relative;
	display: inline-block;
}
.box-2 {
	width: 100%;
	height: 320px;
	background-color: #F2F2F2;
	left: 110%;
	position: relative;
	display: inline-block;
}
.box-text {
	position: absolute;
	font-size: 17px;
	top: 46%;
	left: 23%;
}
.container3{
	width: 100%;
	position: relative;
	height: 500px;
	background-color: #BDCCD4;
}
.cont-text2 {
	position: absolute;
	font-size: 24px;
	color: #3D58A6;
	top: 7%;
	left: 6.1%;
	font-family: 'Roboto', sans-serif;
}
.typography-box {
	position: absolute;
	width: 270px;
	height: 275px;
	background-color: #E6E6E6;
	top: 17%;
	left: 6.1%;
	float: left;
}
.typo-image {
	position: absolute;
	width: 270px;
}
.lab {
    position: absolute;
    font-size: 22px;
    top: 83.5%;
    left: 5%;
    font-family: 'Roboto', sans-serif;
}
.marketing-box {
	background-color: #E6E6E6;
	position: absolute;
	width: 270px;
	height: 275px;
	background-color: #E6E6E6;
	top: 176.1%;
	left: 29.7%;
	float: left;
}
.mark {
	position: absolute;
    font-size: 22px;
    top: 84%;
    left: 5%;
    font-family: 'Roboto', sans-serif;
}
.coding-box {
	background-color: #E6E6E6;
	position: absolute;
	width: 270px;
	height: 275px;
	background-color: #E6E6E6;
	top: 176.1%;
	left: 53.4%;
}
.code {
	position: absolute;
    font-size: 22px;
    top: 84%;
    left: 5%;
    font-family: 'Roboto', sans-serif;
}
.interface-box {
	background-color: #E6E6E6;
	position: absolute;
	width: 270px;
	height: 275px;
	background-color: #E6E6E6;
	top: 176.1%;
	left: 76.7%;
}
.design {
	position: absolute;
    font-size: 22px;
    top: 84%;
    left: 5%;
    font-family: 'Roboto', sans-serif;
}
.container4 {
	width: 100%;
	position: relative;
	height: 340px;
	background-color: #E6E6E6;
}
.cont-text3 {
	position: absolute;
	font-size: 22px;
	font-family: roboto, sans-serif;
	left: 6%;
	top: 9%;
}
.image {
	width: 100px;
	margin-left: 40px;
	margin-top: 30px;
}
.media-box {
	background-color: #F2F2F2;
	position: absolute;
	width: 569px;
	height: 230px;
	color: #F2F2F2;
	top: 24%;
	left: 6%;
}
.child-text {
	position: relative;
	font-family: roboto, sans-serif;
	font-size: 22px;
	color: #3D58A6;
	top: 7%;
	left: 4%;
}
.media-text {
	position: relative;
	font-size: 20px;
	font-family: roboto, sans-serif;
	color: #333333;
	left: 34%;
	bottom: 55%;
	width: 344px;
}
.mini {
	position: relative;
	font-size: 14px;
	font-family: roboto, sans-serif;
	color: #3D58A6;
	left: 87%;
	bottom: 35%;
	width: 64px;
}
.media-box2 {
	background-color: #F2F2F2;
	position: absolute;
	width: 569px;
	height: 230px;
	color: #F2F2F2;
	left: 137%;
	bottom: 0%;
}
.child-text2 {
	position: relative;
	font-family: roboto, sans-serif;
	font-size: 22px;
	color: #3D58A6;
	top: 7%;
	left: 4%;
}
.image2 {
	width: 80px;
	margin-left: 65px;
	margin-top: 40px;
}
.media-text2 {
	position: relative;
	font-size: 20px;
	font-family: roboto, sans-serif;
	color: #58595B;
	left: 34%;
	bottom: 55%;
	width: 344px;
}
footer {
	width: 100%
	background-color: #FFFFFF;
	height: 59px;
	padding: 22px 77px 0px 91px;
}
.footer-text {
	font-size: 12px;
	font-family: roboto, sans-serif;
	float: left;
}
.footer-text2 {
    font-size: 12px;
    font-family: roboto, sans-serif;
    float: right;
}